# binaries
/octarq
/dist
*.exe

# database & secrets
*.db
*.db-*
.env

# go
/vendor

# node
/node_modules
web/node_modules
web/.vite
packages/*/node_modules
packages/*/dist

# geoip
*.mmdb

# air (hot-reload tmp)
.air/

# os
.DS_Store
