# binaries
/led
/dist
*.exe

# database & secrets
*.db
*.db-*
.env

# go
/vendor

# node
web/node_modules
web/.vite

# geoip
*.mmdb

# air (hot-reload tmp)
.air/

# os
.DS_Store

bf0681ac-201b-4a76-a2fc-a8d3450cd1c7