{
  "name": "{{.NpmName}}",
  "version": "0.0.0",
  "private": true,
  "type": "module",
  "main": "./index.ts",
  "types": "./index.ts",
  "exports": {
    ".": "./index.ts"
  },
  "peerDependencies": {
    "@octarq/plugin-sdk": "*",
    "react": "^18.3.1",
    "react-dom": "^18.3.1"
  },
  "devDependencies": {
    "@octarq/plugin-sdk": "*"
  }
}
